<h2> Bonjour {{ name }} </h2>
<p>
    Votre réservation pour la maison à Noirmoutier a été confirmé du {{ booking_start_date }} au {{ booking_end_date }}
    Votre réference de reservation est <strong>{{reference}}</strong>. Cette réference vous permettra de gérer votre réservation depuis 
    le site AuToucan.com
</p>

<p> Merci de votre réservation et bonne journée</p>